.sidebar-thread {
  display: flex;
  align-items: center;
  padding: 28px;
  border-bottom: 1px solid rgba(190, 190, 190, 0.1);
  color: #fff;
  cursor: pointer;
}
.sidebar-thread:hover {
  background-color: rgba(2, 150, 199);
}
.thread-detail {
  margin-left: 15px;
  position: relative;
  width: 100%;
}
.thread-timestamp {
  position: absolute;
  top: 5px;
  right: 0;
}
